/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #EEEBE3;
    --sidebar-color: #FFF;
    --primary-color: #000000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #000000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}


.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}

.m10 {
    margin: 10px;
}
.m20 {
    margin: 20px;
}

.mx-auto {margin: 0 auto;}

.px20 {
    padding-left: 20px;
    padding-right: 20px;
}
.mx20 {
    margin-left: 20px;
    margin-right: 20px;
}
.py20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.my20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
}



body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}



.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}



.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

/* =========================== */
/* box-container */
.box-container{
    position: absolute;
    top: 55%;
    left: 40.5%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    justify-items: center;
    align-items: center;
    width: calc(100% - 300px);
    transition: var(--tran-05);
}

body.dark .box-container{
    color: var(--text-color);
}

.box-container .box{
    height: 300px;
    width: 300px;
    background-color: var(--primary-color-light);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: var(--tran-05);
}

.box-container .box .icon{
    font-size: 50px;
    color: var(--primary-color);
    transition: var(--tran-05);
}

/* content */
.box-container .box .content{
    margin-top: 10px;
    text-align: center;
    transition: var(--tran-05);
}

.def-button {
    padding: 15px; border-radius: 10px; border: none; background-color: rgb(202, 202, 202); transition: .2s all ease-in-out; height: 60px;
}

.def-button:hover {
    transform: translateX(-2px); background-color: black; color: white; cursor: pointer;
}

.home-container {
    width: 90%; background-color: rgb(255, 255, 255); justify-self: center;
}

.info-top {
    width: 100%; height: 120px; justify-content: space-between;
}

.left-info {width: 35%; height: inherit;}

.percentage-bar {width: 60px; height: 60px; background-color: black; border-radius: 100%;}

.min-button {padding: 5px 10px; background-color: rgb(8, 178, 8); border: none; border-radius: 10px; font-size: 12px; cursor: pointer;}

.shut-button {width: 40px; height: 40px; background-color: black; border-radius: 100%;}

.form-inputs {width: 100%;}

.form-input-2 {width: 45%; background-color: rgb(228, 228, 228); border-radius: 20px; justify-content: space-between;}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .input-popup {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  .input-popup:focus {
    outline: none;
    border-color: #0066ff;
    border: none; /* Remove the default border */
    border-bottom: 1px solid #00b21b; /* Set only the bottom border initially */
    border-radius: 1px;
    /* border-bottom-color: #ccc; */
  }

  .country-code {
    border: none;
  }

  .country-code:focus {
    border: none;
  }

  .clear-button {
    transition: .2s all ease-in-out;
  }

  .clear-button:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }

  .gender-type {
    padding: 10px;
  }

  #dob {width: 100%; height: 50px;}
  
  



